*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Padauk', sans-serif;

}

body{
    background-color: #f5eded;

    }

.box{
    height: 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}

.info{

}   

.info-title{
    color: #d72323;
}

.info-description{
    font-size: 13px;
    width:50%;
    margin: 20px 0;
}

.info-place{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.current-place{
    font-size: 30px;
    color: #d72323;
}

.map{
    fill: black;
}

.map svg{
    stroke:#ebe8e3;
}

.map svg path{
    transition: ease-in-out 0.5s;
}


.map svg path:hover{

    fill:#d72323;
    
}